:root, .dark {
  --accent: #DBEAFE;
  --accent-foreground: #171717;
  --background: #FFFFFF;
  --border: #E5E5E5;
  --card: #FFFFFF;
  --card-foreground: #0A0A0A;
  --chart-1: #BEDBFF;
  --chart-2: #8EC5FF;
  --chart-3: #51A2FF;
  --chart-4: #2B7FFF;
  --chart-5: #155DFC;
  --destructive: #E7000B;
  --destructive-foreground: #E7000B;
  --font-sans: Inter;
  --font-serif: Inter;
  --foreground: #0A0A0A;
  --input: #E5E5E5;
  --muted: #E5E5E5;
  --muted-foreground: #737373;
  --popover: #FFFFFF;
  --popover-foreground: #0A0A0A;
  --primary: #155DFC;
  --primary-foreground: #FAFAFA;
  --radius: 8px;
  --ring: #155DFC;
  --secondary: #F5F5F5;
  --secondary-foreground: #0A0A0A;
  --shadow-2xl: 0 1px 2px 0 rgb(10 10 10 / 0.15);
  --shadow-2xs: 0 1px 2px 0 rgb(10 10 10 / 0.03);
  --shadow-lg: 0 1px 2px 0 rgb(10 10 10 / 0.06), 0 4px 6px -1px rgb(10 10 10 / 0.06);
  --shadow-md: 0 1px 2px 0 rgb(10 10 10 / 0.06), 0 2px 4px -1px rgb(10 10 10 / 0.06);
  --shadow-sm: 0 1px 2px 0 rgb(10 10 10 / 0.06), 0 1px 2px -1px rgb(10 10 10 / 0.06);
  --shadow-xl: 0 1px 2px 0 rgb(10 10 10 / 0.06), 0 8px 10px -1px rgb(10 10 10 / 0.06);
  --shadow-xs: 0 1px 2px 0 rgb(10 10 10 / 0.03);
  --sidebar: #FAFAFA;
  --sidebar-accent: #F5F5F5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #E5E5E5;
  --sidebar-foreground: #0A0A0A;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #FAFAFA;
  --sidebar-ring: #A1A1A1;
  --spacing: 0.22rem;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-3xl: 30px;
  --text-3xl--line-height: 36px;
  --text-4xl: 36px;
  --text-4xl--line-height: 40px;
  --text-5xl: 48px;
  --text-5xl--line-height: 48px;
  --text-6xl: 60px;
  --text-6xl--line-height: 60px;
  --text-7xl: 72px;
  --text-7xl--line-height: 72px;
  --text-8xl: 96px;
  --text-8xl--line-height: 96px;
  --text-9xl: 128px;
  --text-9xl--line-height: 128px;
  --text-base: 14px;
  --text-base--line-height: 24px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-xs: 12px;
  --text-xs--line-height: 16px;
}
